@font-face {
    font-family: UnifrakturMaguntia;
    src: url(../font/UnifrakturMaguntia.ttf);
}

.post-archive{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 300px;
}

.year{
    text-align: center;
    font-family: UnifrakturMaguntia;
    font-size: 30px;
}

li.post-item{
    list-style-type: none;
    text-decoration: none;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    justify-content:space-between;
}

span.date{
    font-size: 25px;
}

#achive-title{
    white-space:nowrap;
    overflow: hidden;
    text-overflow:ellipsis;
    float: right;
    padding-right: 15px;
    padding-left: 15px;
    font-size: 25px;
}

